/* styles.css */

#header {
    color: white;
    background: darkblue;
    padding: 1;
    text-align: center;
}

#target_folder_options button {
    margin: 1 0;
    border: 1px solid #ccc;
    background: #f0f0f0;
}

#project_name, #folder {
    margin-bottom: 1;
}

#datasets {
    margin-bottom: 1;
}

#submit {
    background: green;
    color: white;
    padding: 1;
    margin-top: 2;
}

#status {
    color: yellow;
    margin-top: 2;
}
